@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

.map {
  @apply object-cover w-full rounded-lg;
  height: 700px;
  min-width: 244px;
}

.activeTabBtn {
  @apply text-black font-bold;
  border-bottom: 2px solid #1f2937;
}

.headerBtn {
  @apply h-full flex flex-col justify-center items-center hover:bg-gray-200 hover:text-gray-800 transition duration-300;
}

.card {
  @apply bg-gray-50 h-80 overflow-hidden flex flex-col justify-between shadow-lg rounded-lg transform transition-all duration-200 ease-in hover:scale-105 hover:shadow-2xl;

  min-width: 244px;
}

.loginCard {
  @apply h-2/4 max-w-screen-sm transform -translate-x-2/4 -translate-y-2/4 absolute left-1/2 top-1/2;

  min-height: 550px;
  min-width: 440px;
}

.flipCard {
  transform: rotateY(180deg);
}

.cardContent {
  @apply h-full w-full rounded-xl;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  @apply flex flex-col items-center py-8 px-10 absolute top-0 left-0 tracking-wider h-full w-full;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.landingPageBtn {
  @apply text-center tracking-wider text-gray-200 font-semibold mt-6 bg-gray-800 p-2 duration-200 rounded-md transform hover:scale-95 w-3/5 border border-gray-50;
  backface-visibility: hidden;
}

.landingPageForm {
  @apply mt-6 text-lg font-medium w-96 flex flex-col items-center;
}

.mission {
  @apply p-3 bg-gray-50 border-t border-gray-200 hover:bg-gray-800 duration-200 hover:text-gray-50;
}

.chartBtn {
  @apply w-8 h-8 rounded-md flex justify-center items-center text-gray-600 border shadow-sm cursor-pointer transform hover:scale-110 hover:border-gray-800 duration-200;
}

.chartBtn:active {
  @apply bg-gray-800 text-gray-200;
}

.chartDropElement {
  @apply flex items-center w-full  px-2 h-8 text-left hover:bg-gray-700 hover:text-gray-50;
}

.rangeContent {
  @apply bg-gray-50 border shadow-md rounded-md absolute max-h-56 overflow-auto;
  top: 35px;
  right: -1px;
  width: 140px;
}

.chartCard {
  @apply h-80 w-full rounded-md border bg-gray-50 shadow-md px-4 overflow-hidden relative;
}

.activeRange {
  border: 1px solid #1f2937;
  transform: scale(1.1);
}

.rangeBtnActive:active {
  @apply bg-gray-800 text-gray-200;
}

.noUi-handle {
  cursor: pointer;
  box-shadow: none;
}

.noUi-handle .noUi-handle-lower {
  z-index: 1000 !important;
}

.sliderCard {
  @apply flex items-center px-4 py-3 duration-200;
}

.noUi-connect {
  background-color: #6bb7bf;
}

.noUi-handle:focus {
  outline: none;
  border-color: #8f8f8f;
}

.noUi-handle:active {
  transform: scale(0.95);
  cursor: grabbing;
}

.sliderCard:hover h1 {
  color: #6bb7bf;
}

.sliderCard h1 {
  transition: all 0.2s;
  min-width: 8rem;
}
