@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

.map {
  @apply object-cover w-full;
  max-height: 500px;
  min-height: 300px;
  min-width: 244px;
}

.activeTabBtn {
  @apply bg-gray-50 text-gray-800;
}

.tabBtn {
  @apply h-full w-60 flex justify-center items-center hover:bg-gray-200 hover:text-gray-800  transition duration-300 focus:outline-none  font-semibold;
}

.headerBtn {
  @apply h-full flex flex-col justify-center items-center hover:bg-gray-200 hover:text-gray-800 transition duration-300;
}

.card {
  @apply bg-gray-50 h-80 overflow-hidden flex flex-col justify-between shadow-lg rounded-lg transform transition-all duration-200 ease-in hover:scale-105 hover:shadow-2xl;

  min-width: 244px;
}
