@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-light {
    @apply bg-gray-50;
  }
  .bg-dark {
    @apply bg-gray-800;
  }
  .text-light {
    @apply text-gray-50;
  }
  .text-dark {
    @apply text-gray-800;
  }
  .hover-text-dark {
    @apply hover:text-gray-800;
  }
}

#waypoints input::-webkit-outer-spin-button,
#waypoints input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

#previewBox::-webkit-scrollbar-thumb {
  background: #c0c1c3;
  border-radius: 20px;
}
#previewBox::-webkit-scrollbar,
.dropDownContent::-webkit-scrollbar,
#waypointList::-webkit-scrollbar {
  width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*:focus {
  outline: none !important;
}

body {
  user-select: none;
}

.rounded-shadow {
  @apply rounded-md shadow-md border;
}

.tabs {
  @apply sticky top-20 z-40 h-10 text-gray-400 overflow-hidden;
  width: 600px;
}

.tabBtn {
  @apply h-full w-full flex justify-center items-center focus:outline-none font-semibold text-sm tracking-wider;
}

.map {
  @apply object-cover w-full rounded-lg;
  height: 650px;
  min-width: 244px;
}

.headerBtn {
  @apply h-full flex flex-col  justify-center items-center hover:bg-gray-50 hover-text-dark  transition duration-300;
}

.dropDownBtn {
  @apply h-full rounded-shadow flex items-center pl-8 hover:border-gray-400 duration-200 z-10;
}

.mission {
  @apply px-6 py-4 tracking-wider text-sm  border-l-4 border-gray-200 hover:border-gray-800 hover:bg-gray-200 duration-200;
}

.card {
  @apply h-80 overflow-hidden flex flex-col justify-between shadow-lg rounded-lg transform transition-all duration-200 ease-in hover:scale-105 hover:shadow-2xl;

  min-width: 244px;
}

/* DATEPICKER POPUP */
.litepicker {
  z-index: 30 !important;
}

.container__main {
  @apply mt-2;
}
.month-item {
  @apply bg-light rounded-shadow;
}
.day-item:hover {
  @apply bg-gray-200;
  color: #1f2937 !important;
  box-shadow: inset 0 0 0 1px #1f2937 !important;
}
.day-item.is-start-date,
.day-item.is-end-date {
  background-color: #6e7082 !important;
  color: #f9fafc !important;
}

.day-item.is-in-range {
  background-color: #6bb7bf !important;
  color: black !important;
}

.button-next-month:hover > svg,
.button-previous-month:hover > svg {
  fill: #1f2937 !important;
}

.loginCard {
  @apply h-2/4 max-w-screen-sm transform -translate-x-2/4 -translate-y-2/4 absolute left-1/2 top-1/2;

  min-height: 550px;
  min-width: 440px;
}

.flipCard {
  transform: rotateY(180deg);
}

.cardContent {
  @apply h-full w-full rounded-xl;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  @apply flex flex-col items-center py-8 px-10 absolute top-0 left-0 tracking-wider h-full w-full;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.landingPageBtn {
  @apply text-center tracking-wider text-gray-50 font-semibold mt-6 bg-dark p-2 duration-200 rounded-md transform hover:scale-95 w-3/5 border border-gray-50;
  backface-visibility: hidden;
}

.landingPageForm {
  @apply mt-6 text-lg font-medium w-96 flex flex-col items-center;
}

.chartBtn {
  @apply w-8 h-8 rounded-sm shadow-sm  flex justify-center items-center text-gray-600 border cursor-pointer transform hover:scale-105 hover:border-gray-800 duration-200;
  min-width: 32px;
}

.chartDropElement {
  @apply flex items-center w-full px-4 h-8 text-left border-l-2 hover:border-gray-800 hover:bg-gray-200;
}

.rangeContent {
  @apply border shadow-md rounded-md absolute max-h-56 overflow-auto;
  top: 35px;
  right: -1px;
  width: 140px;
}

.chartCard {
  @apply h-80 w-full rounded-md border shadow-md px-4 overflow-hidden relative bg-light;
}

.chartRangeBtnFocus {
  border: 1px solid #1f2937;
  transform: scale(1.05);
}

.activeTabBtn {
  @apply text-dark;
}

.chartRangeBtn:active,
.activeBtn:active,
.chartBtn:active,
.activeBtnStyle:active {
  @apply bg-dark text-light;
}

.reverseActiveBtnStyle:active {
  @apply bg-light text-dark;
}

.disableBtn {
  @apply pointer-events-none shadow-none bg-gray-200 text-gray-400 border-gray-200;
}

.noUi-handle {
  cursor: pointer;
  box-shadow: none;
}

.noUi-connect {
  background-color: #6bb7bf;
}

.noUi-handle:focus {
  outline: none;
  border-color: #8f8f8f;
}

.noUi-handle:active {
  transform: scale(0.95);
  cursor: grabbing;
}

.sliderBox:hover h1 {
  color: #6bb7bf;
}

.sliderBox h1 {
  transition: all 0.2s;
  min-width: 8rem;
}

.sliderBox {
  @apply flex items-center px-4 py-3 duration-200;
}

.hour-item,
.minute-item {
  @apply border-l-2 hover:border-gray-800 hover:bg-gray-200 py-2 text-xs cursor-pointer;
}

.saveTime:focus {
  background-color: #1f2937 !important;
  border-color: white !important;
  color: white !important;
}

.redBorder {
  border: 1px solid red;
}

.uploadSuccess {
  animation: slideIn 5s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes slideIn {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  10% {
    transform: translateX(0%);
    opacity: 1;
  }
  90% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}

th,
td {
  @apply px-4 py-2 border-b border-r;
}

th {
  font-weight: 500;
}

td {
  @apply text-sm;
}

tbody tr:nth-child(odd) {
  @apply bg-light;
}

.btn {
  @apply cursor-pointer transform hover:scale-105 hover:border-gray-800 duration-200;
}
