:root {
  --dark: #1f2937;
  --light: #f9fafb;
  --bluegreen: #6bb7bf;
  --bluegreenDark: #2bbbad;
}

/* * {
  font-family: "Montserrat";
  font-weight: 700;
} */

* {
  box-sizing: border-box;
}

input[id*="wp"]::-webkit-outer-spin-button,
input[id*="wp"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[id*="wp"] {
  -moz-appearance: textfield;
}

#endConnectionBtn {
  font-weight: 700;
  margin: auto;
}

.bg-dark {
  background: var(--dark);
}

.bg-light {
  background: var(--light);
}

.penIcon {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4px;
  transform: scaleX(-1);
}

.icon {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn,
.btn-flat {
  margin-top: 20px;
}

#terminal {
  margin-top: 30px;
}

.mtop {
  margin-top: 20px;
}

.padding {
  padding: 8px;
}

.pleft {
  padding-left: 20px;
}

table tbody {
  display: block;
  max-height: 50vh;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#files label span {
  padding: 0;
  padding-right: 18px;
}

.adjustForScrollbar {
  padding-right: 5px !important;
}

.adjustForMiniScrollbar {
  padding-right: 0px !important;
  padding-left: 7px !important;
}

td p {
  margin: 0;
}

h4 {
  margin: 0;
}

.tabs .indicator {
  background-color: var(--dark);
  height: 4px;
}

.tabs .tab a {
  font-weight: 700;
  color: var(--light);
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #424242;
  background-color: var(--light);
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: var(--light);
}

textarea {
  cursor: none;
}

.collection {
  max-height: 40vh;
  overflow: auto;
}

.input-field input[type="text"]:focus + label {
  color: var(--dark) !important;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid var(--dark) !important;
  box-shadow: 0 1px 0 0 var(--dark) !important;
}

.input-field .prefix.active {
  color: var(--bluegreen);
}

.modal-trigger {
  position: relative;
  top: 20px;
}

.infoCircle {
  position: relative;
  top: 8px;
}

.infoCircle:hover path {
  fill: #2bbbad;
  cursor: pointer;
}

.infoCircle:active path {
  fill: #8bdad2;
  cursor: pointer;
}

th h5 {
  font-weight: 500;
  margin: 0;
}

.glider {
  padding: 40px;
}

.borderB {
  border-bottom: 1px rgb(190, 190, 190) solid;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rounded-shadow {
  margin: 10px;
  border-radius: 6px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  overflow: hidden;
}

.range-field {
  margin: 0;
}

input[type="range"] + .thumb.active .value {
  font-size: 1rem;
  margin-top: 4px;
  margin-left: 0px;
}

label {
  font-size: 0.9rem;
}

.radioText {
  color: var(--dark);
}

.radioTextActive {
  color: var(--bluegreenDark);
  font-size: 1.1rem !important;
  font-weight: 600;
}

#inputMinDepth,
#inputMaxDepth {
  box-sizing: border-box;
  height: 100%;
  padding: 4px 2px;
}

input {
  background-color: white !important;
}

.noUi-handle {
  cursor: pointer;
  box-shadow: none;
  /* width: 20px !important; */
}

.noUi-connect {
  background-color: var(--bluegreen) !important;
}

.noUi-handle:hover {
  cursor: pointer;
  border-color: #8f8f8f;
}

.noUi-handle:focus {
  outline: none;
  border-color: #8f8f8f;
}

.noUi-handle:active {
  transform: scale(0.95);
  cursor: grabbing;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

.smallBtn {
  width: 32px;
  height: 32px;
  border-radius: 0.125rem;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  transition-duration: 200ms;
}

.smallBtn:hover {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.15);
}

#numberBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  height: 32px;
}

#latlngInputBox {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  height: 32px;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .tabSelectorBottom {
    position: fixed;
    width: 100vw;
    z-index: 999;
    bottom: 0;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  #files label span {
    padding-right: 18px !important;
  }

  .container {
    width: 100%;
  }
}
