.download-btn {
  margin-top: 30px;
}
#terminal {
  margin-top: 30px;
}
.mtop {
  margin-top: 20px;
}
.padding {
  padding: 8px;
}
.pleft {
  padding-left: 20px;
}

table tbody {
  display: block;
  max-height: 40vh;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 60px !important;
}

label span {
  padding: 0 !important;
  margin-left: -18px !important;
}

td p {
  margin: 0;
}

h4 {
  margin: 0;
}
.tabs .indicator {
  background-color: #ff9100;
}
.tabs .tab a.active {
  color: #ff6d00;
}
textarea {
  cursor: none;
}
.collection {
  max-height: 40vh;
  overflow: auto;
}
.tabs .tab a {
  font-weight: 700;
  color: #9e9e9e;
}
.tabs .tab a.active {
  color: #424242;
}
.input-field input[type="text"]:focus + label {
  color: #ffd600 !important;
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #ffd600 !important;
  box-shadow: 0 1px 0 0 #ffd600 !important;
}
.input-field .prefix.active {
  color: #ff9100;
}
.modal-trigger {
  position: relative;
  top: 20px;
}
.infoCircle {
  position: relative;
  top: 8px;
}
.infoCircle:hover path {
  fill: #2bbbad;
  cursor: pointer;
}
.infoCircle:active path {
  fill: #8bdad2;
  cursor: pointer;
}

th h5 {
  font-weight: 500;
  margin: 0;
}

.glider {
  padding: 40px;
}

.borderB {
  border-bottom: 1px rgb(190, 190, 190) solid;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbc02d;
  /* border-radius: 20px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 121, 121);
}

@media screen and (max-width: 480px) {
  .tabSelectorBottom {
    position: fixed;
    width: 100vw;
    z-index: 1;
    bottom: 0;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  label span {
    padding: 0 !important;
    margin-left: 0px !important;
    margin-right: 8px !important;
  }
}
